form.form(action="") 
    .form__group
        input(type="text" placeholder="4 person")
    .form__group
        input(type="text" placeholder="12.25, 2020")
    .form__group
        input(type="text" placeholder="11:00 AM")
    buttom.booking__btn.btn Book s table