.card {
	display: flex;
	flex-direction: column;
	padding: 4.8rem 4.8rem 0;
	background: #121315;
	@media screen and (max-width: 992px) {
		padding: 3vw 3vw 0 3vw;
	}

	&__img {
		position: relative;
		padding-bottom: 130%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 3.6rem 0;
		flex: 1;
		@media screen and (max-width: 992px) {
			padding: 3vw 0;
		}
	}
	&__wrap {
		display: flex;
		align-items: flex-start;
	}
	&__rating {
		margin-right: 1.3rem;
        margin-bottom: 2rem;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: normal;
		color: #c99e71;
		text-transform: uppercase;
	}
	&__stars {
		display: inline-block;
	}
	&__subtitle {
		margin-bottom: 3.8rem;
		font-family: var(--font-3);
		font-size: 2.4rem;
		font-weight: 400;
		line-height: normal;
		color: #fff;
		text-transform: uppercase;
	}
	&__price {
		font-size: 1.8rem;
		font-weight: 600;
		line-height: normal;
		color: #fff;
		text-transform: uppercase;
        strong {
            color: var(--accent);
        }
	}
	&__btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: 1.2rem;
		margin-top: auto;
		padding: 1.3rem 2rem;
		font-family: var(--font-1);
		font-size: 1.8rem;
		font-weight: 600;
		color: #fff;
		line-height: normal;
		background: var(--accent);
		border: 2px solid var(--accent);
		outline: none;
		cursor: pointer;
        transition: all 0.4s;
        &:hover {
            background: #121315;
        }
	}
}
