extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Main

block content
	include ../blocks/header/main-header
	include ../blocks/home/home-intro
	include ../blocks/home/advantages

block scripts
	script(src="assets/js/dist/webpack.js")
