extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/libs/leaflet/leaflet.css")
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Main

block content
	include ../includes/mixins
	include ../blocks/header/main-header
	//- include ../blocks/home/home-intro
	//- include ../blocks/home/advantages
	//- include ../blocks/home/story
	//- include ../blocks/home/product
	//- include ../blocks/home/discover
	//- include ../blocks/home/popular
	//- include ../blocks/home/customers
	include ../blocks/home/booking

block scripts
	script(src="assets/libs/code.jquery.com_jquery-3.7.0.min.js")
	script(src="assets/libs/slick.min.js")
	script(src="assets/libs/leaflet/leaflet.js")
	script(src="assets/jquery/custom-jquery.js")
	script(src="assets/js/dist/webpack.js")
