section.advantages
    .container 
        .advantages__wrapper
            .advantages__item
                span.advantages__number 01
                .advantages__label Best Coffee Flavour
                .advantages__img
                    img(src="assets/i/advantages/advantages-1.jpg", alt="")
            .advantages__item
                span.advantages__number 02
                .advantages__label Place to get lost
                .advantages__img
                    img(src="assets/i/advantages/advantages-2.jpg", alt="")
            .advantages__item
                span.advantages__number 03
                .advantages__label Proper roesting
                .advantages__img
                    img(src="assets/i/advantages/advantages-3.jpg", alt="")