section.booking
    .container
        .booking__wrapper
            .booking__order
                .booking__label.label Reservation
                .booking__title.title Booking a table
                .booking__form
                    include ../globals/form
            .booking__map#map