section.customers
    .container 
        .customers__label.label Testimonial
        h2.customers__title.title Says our customers
        .customers__wrapper
            .customers__item
                .customers__block
                    .customers__img
                        img(src="assets/i/customers/customers-1.jpg" alt="")
                    .customers__text.text Education WP is a special build for effective education & Learning Management System site. Education WP is the next generation & one of the best education WordPress themes which all the strength of eLearning WP..
                .customers__info
                    .customers__data
                        .customers__name John Smith
                        .customers__whois Product Designer
                    .customers__rating
                        include ../icons/custom-rate
            .customers__item
                .customers__block
                    .customers__img
                        img(src="assets/i/customers/customers-2.jpg" alt="")
                    .customers__text.text Education WP is a special build for effective education & Learning Management System site. Education WP is the next generation & one of the best education WordPress themes which all the strength of eLearning WP..
                .customers__info
                    .customers__data
                        .customers__name Brett Lee
                        .customers__whois User Experience Designer
                    .customers__rating
                        include ../icons/custom-rate
            .customers__item
                .customers__block
                    .customers__img
                        img(src="assets/i/customers/customers-2.jpg" alt="")
                    .customers__text.text Education WP is a special build for effective education & Learning Management System site. Education WP is the next generation & one of the best education WordPress themes which all the strength of eLearning WP..
                .customers__info
                    .customers__data
                        .customers__name Brett Lee
                        .customers__whois User Experience Designer
                    .customers__rating
                        include ../icons/custom-rate
        .customers__footer
            .customers__people 2/6 People
            .customers__arrows
                .customers__arrow.customers__arrow--prev
                    include ../icons/arrow 
                .customers__arrow.customers__arrow--next
                    include ../icons/arrow 
            