section.discover
    .container 
        .discover__wrapper
            .discover__img
                img(src="assets/i/discover/discover-1.png" alt="")
            .discover__content
                h2.discover__title.title Coffee<br> machine, buy for home
                .discover__text mauris rhoncus in imperdiet placerat. vestibu emismd nisl suscirpit ligula volutpat, a feyguat urn maxmaus. cars massa nibhtincidunt. donec et nib maximus, est eu, mattis nuce. preasent ut quam quis quam venen atis fri ngilla. morbi vastibulum id tells mmodo mattis. aliauam erat volutpal.
                a.discover__btn.btn Discover now