section.home-intro
    .home-intro__img
        img(src="assets/i/home-intro/home-bg.jpg", alt="")
        .container--big
            .home-intro__wrapper
                .home-intro__content
                    h1.home-intro__title Enjoy Your Morning Coffee.
                    .home-intro__text The coofee is brewed by fist roasting the green coffee beans over hot coals in brazier. given to Opportunity
                .home-intro__bottom
                    a.home-intro__btn.btn(href="#") Test Coffee
                    .home-intro__video
                        .home-intro__play
                            .home-intro__triangle
                        span Play video
