svg(width="116", height="20", viewBox="0 0 116 20", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M106 1.66669L108.575 6.88335L114.333 7.72502L110.167 11.7834L111.15 17.5167L106 14.8084L100.85 17.5167L101.833 11.7834L97.6667 7.72502L103.425 6.88335L106 1.66669Z", stroke="#C99E71", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
  path(d="M83.3333 1.66699L85.9083 6.88366L91.6667 7.72533L87.5 11.7837L88.4833 17.517L83.3333 14.8087L78.1833 17.517L79.1667 11.7837L75 7.72533L80.7583 6.88366L83.3333 1.66699Z", fill="#C99E71")
  path(d="M58 1.66699L60.575 6.88366L66.3333 7.72533L62.1667 11.7837L63.15 17.517L58 14.8087L52.85 17.517L53.8333 11.7837L49.6667 7.72533L55.425 6.88366L58 1.66699Z", fill="#C99E71")
  path(d="M34 1.66669L36.575 6.88335L42.3333 7.72502L38.1667 11.7834L39.15 17.5167L34 14.8084L28.85 17.5167L29.8333 11.7834L25.6667 7.72502L31.425 6.88335L34 1.66669Z", fill="#C99E71")
  path(d="M10 1.66669L12.575 6.88335L18.3333 7.72502L14.1667 11.7834L15.15 17.5167L10 14.8084L4.85 17.5167L5.83333 11.7834L1.66667 7.72502L7.425 6.88335L10 1.66669Z", fill="#C99E71")